.header, 
.header nav ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header {
    display: flex;
}

.header nav ul {
    gap: 13px;
}

.header nav ul li button {
    font-family: Nunito Sans;
    font-size: 18px;
    font-weight: 400;
    line-height: 24.55px;
    text-align: center;
    padding: 14px 25px;
    border-radius: 8px;
}