.title {
  color: var(--colors-neutral-300);
  padding: 6px 10px;
}

.list {
  display: flex;
  flex-direction: column;
  border-top: 1px solid var(--colors-neutral-200);
  margin-bottom: 20px;
}

.list li {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid var(--colors-neutral-200);
  padding: 10px 22px 10px 16px;
}

.list li p {
  color: var(--colors-neutral-800);
}

.list li:nth-child(odd) {
  background-color: #f2f2f2;
}

.actions {
  display: flex;
  gap: 5px;
}

.actions button {
  padding: 0;
}
